.chromatic-image-window {
    display: block;
    float: left;
    margin: 0px auto 0px auto;
    padding: 0px;
    height: 250px;
    width: 25%;
}

.chromatic-image-window image {
    display:"block";
    margin: 0px auto 0px auto;
    padding: 0px
}

.progression-options-window {
    width:75%;
    float:left;
}

.left-ops {
    margin-top: 20px;
    width: 50%;
    float:left;
}
.right-ops {
    margin-top: 20px;
    width: 50%;
    float: right;
}
.form-group {
    width: 50%;
}
.boldp {
    font-weight:bold;
    margin:0px;
}
.subp {
    margin:0px;
}

