.Score-display {
    background-color: white !important;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 15px 0px 15px 0px;
    padding: 10px 15px 10px 15px;
    display: "block";
}

.App {
  text-align: center;
}

.AppBar {
  background-color: #007bff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Toolbar {
  background-color: #DDDDDD
}

.padded-tool {
  padding-left: 20px;
}

.App-header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: "#666";
}

.App-link {
  color: #61dafb;
}

.subToolButton {
  /* text-align:center !important; */
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.subToolButtonIcon {
    vertical-align: middle;
}
